/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2021, 7:24:01 PM
    Author     : enrique
*/

.active {
    color: #020202 !important;
}

.custom-navbar {
    background: #FF0008;
}

.nav-link,
.navbar-brand{
    color: #FFFFFF !important;
    font-weight: 300;
}

.nav-link.active {
    font-weight: 700;
}

.accept-button {
    color: #FFFFFF;
    background: #3dc982;
    border-color: #3dc982;
    border-radius: 5px;
}

.accept-button:hover {
    color: #FFFFFF;
    background: #30ad6e;
}

.fz-14 {
    font-size: 0.875em;
}

.black-font {
    color: #000000 !important;
}

.gray-font {
    color: #8c8c8c !important;
}

.cancel-gray-button {
    background: #8c8c8c !important;
}

.hover-cursor:hover {
    cursor: pointer !important;
}

.rounded-container {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    padding: 20px;
}

.red {
    background: #FF4A4A;
}

.green {
    background: #8BEA8B;
}

.orange {
    background: #EBDA6E;
}

.blue {
    background: #68B9D3;
}

.box-title {
    color: #ffffff;
    font-size: 26px;
}

.data-info {
    color: #ffffff;
    font-size: 34px;
    margin-top: 25px;
}